.personal-maintitle {
  font-size: 20px;
  line-height: 30px;
  color: #253746;
  margin-bottom: 22px;
}
.personal-reason {
  padding: 18px 20px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.personal-reason .personal-reason-title {
  font-size: 18px;
  line-height: 28px;
  color: #009B77;
}
.personal-reason .personal-reason-text {
  font-size: 14px;
  line-height: 24px;
  color: #253746;
}
.personal-baseinfo {
  padding: 0 20px 70px;
  background-color: #ffffff;
}
#uploadHeadImg {
  display: none;
}
.personal-baseinfo .layui-input:disabled {
  color: #d2d2d2;
  cursor: not-allowed;
}
.personal-baseinfo .layui-form-label {
  width: 110px;
}
.personal-baseinfo .personal-subtitle {
  padding: 16px 0 9px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #009B77;
  border-bottom: 1px solid #E4E7ED;
}
.personal-baseinfo .member-headimg {
  margin-right: 17px;
  width: 51px;
  height: 51px;
  border-radius: 50%;
}
.personal-baseinfo .w300 {
  width: 300px;
}
.personal-baseinfo .layui-btn {
  width: 80px;
}
.personal-baseinfo .province {
  width: 174px;
  margin-right: 2px;
}
.personal-baseinfo .city {
  width: 120px;
  margin-right: 0;
}
.personal-submit {
  display: none;
}
.layui-btn+.layui-btn.personal-edit {
  margin-left: 0;
}